:root {
  --primary-color: #191c2b;
  --second-color: #30ae64;
  --third-color: #454d57;
  --fourth-color: #fff;
  --fifth-color: #79818c;
  --sixth-color: #2a2e35;
  --seventh-color: #454e56;
  --eighth-color: #b2becd;
}

.light-mode {
  --primary-color: #fff;
  --second-color: #3b92e4;
  --third-color: #494b4d;
  --fourth-color: #6b6a6a;
  --fifth-color: #b3b3b3;
  --sixth-color: #cfcfcf;
  --seventh-color: #b7b7b8;
  --eighth-color: #d5d8db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  position: relative;
  transition: all 0.4s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

.greenSpan {
  color: var(--second-color);
}

.section {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* BEGIN OF INTRO */

.introDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.introDiv h1,
p {
  color: var(--fourth-color);
}

.introDiv h1 {
  font-size: 50px;
  text-align: center;
}

.introDiv p {
  max-width: 700px;
  text-align: center;
}

.btn-CV {
  position: relative;
}

.main-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid var(--second-color);
  padding: 15px 60px 15px 15px;
  border-radius: 50px;
}

.btn-text {
  color: var(--fourth-color);
}

.btn-icon {
  position: absolute;
  right: 0px;
  background-color: var(--second-color);
  width: 55px;
  height: 55px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon i {
  color: var(--fourth-color);
}

.closeOpenBtnDiv {
  cursor: pointer;
  position: fixed;
  background-color: var(--third-color);
  right: 35px;
  top: 23px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
}

.closeOpenBtnDiv > i {
  text-align: center;
  color: white;
  font-size: 25px;
}

.theme-btn {
  cursor: pointer;
  position: fixed;
  background-color: var(--third-color);
  right: 35px;
  top: 93px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.theme-btn i {
  text-align: center;
  color: var(--fifth-color);
  font-size: 25px;
}

.controls {
  position: fixed;
  right: 35px;
  top: 220px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.control {
  background-color: var(--third-color);
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.control a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.control i {
  color: var(--fifth-color);
  font-size: 25px;
}

.active-btn {
  background-color: var(--second-color);
}

.active-btn i {
  color: var(--fourth-color);
}

/* --------------------- END OF SECTION 1---------------------- */

.aboutDiv {
  margin-top: 30px;
  margin-left: 135px;
  margin-right: 135px;
}

.aboutDiv > h1 {
  color: var(--fourth-color);
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
}

.about-content {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
  padding-bottom: 50px;
}
.about-content-left > h1 {
  text-align: center;
  color: var(--fourth-color);
}

.about-content-left > p {
  margin-top: 20px;
  padding: 0 60px;
  text-align: justify;
}

.about-content-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 5px;
}

.infoBox {
  border: 1px solid rgba(128, 128, 128, 0.226);
  width: 280px;
  height: 190px;
}

.infoBox h2 {
  color: var(--second-color);
  font-size: 55px;
  margin-left: 20px;
}

.infoBox h4 {
  color: var(--fourth-color);
  font-size: 30px;
  text-align: center;
}

/* END OF ABOUT ME */

.skills-graph {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.skills-content h1 {
  text-align: center;
  color: var(--fourth-color);
  text-transform: uppercase;
}

.title-bar > h5 {
  color: var(--fourth-color);
  font-size: 22px;
}

.progress-skill-countent {
  display: flex;
  align-items: center;
  gap: 5px;
}

.progress-skill-countent > h5 {
  color: var(--fourth-color);
  font-size: 17px;
  padding: 5px;
}

.skillBar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: var(--seventh-color);
}

.bar85 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 85%;
  background-color: var(--second-color);
}

.bar80 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  background-color: var(--second-color);
}

.bar75 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;
  background-color: var(--second-color);
}

.bar70 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  background-color: var(--second-color);
}

.bar60 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60%;
  background-color: var(--second-color);
}

.bar40 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  background-color: var(--second-color);
}

.bar30 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: var(--second-color);
}

/* END OF SKILLS */

.experinceTitle {
  position: relative;
  text-align: center;
  color: var(--fourth-color);
  margin-top: 70px;
  padding-top: 40px;
  text-transform: uppercase;
}

.experinceTitle::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 15%;
  height: 1px;
  background-color: var(--seventh-color);
  transform: translate(-50%);
}

.experienceContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  padding-bottom: 20px;
  grid-gap: 20px;
}

.timelineItem {
  position: relative;
  padding-left: 70px;
}

.iconDiv {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--second-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas {
  color: var(--fourth-color);
  font-size: 20px;
}

.textExperienceDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.timeline-duration {
  font-size: 14px;
  background-color: var(--sixth-color);
  padding: 5px;
  width: 220px;
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: 500;
  text-align: center;
}

.textExperienceDiv h5 {
  font-size: 20px;
  color: var(--fourth-color);
}

.spanExperienceText {
  color: var(--fifth-color);
}

/* END OF EXPERIENCE WORK */

.portfolioDiv {
  margin-top: 60px;
  margin-left: 175px;
  margin-right: 175px;
}

.portfolioTitle {
  text-align: center;
  color: var(--fourth-color);
  text-transform: uppercase;
}

.portfolioDiv > p {
  margin-top: 20px;
  text-align: center;
}

.portfolioContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 50px;
}

.portfolio-item {
  position: relative;
  border-radius: 15px;
}

.imageDiv img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.hoverItens {
  width: 100%;
  height: 100%;
  background-color: var(--second-color);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}

.hoverItens h3 {
  color: var(--fourth-color);
  font-size: 25px;
  text-align: center;
}

.hoverItens p {
  text-align: center;
  padding: 0 30px;
}

.icons > a {
  text-decoration: none;
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.fab {
  font-size: 20px;
  color: var(--fourth-color);
}

.portfolio-item:hover .hoverItens {
  opacity: 1;
  transform: scale(1);
}

/* END OF PORFOLIO */

.contactDiv {
  margin-top: 60px;
  margin-left: 175px;
  margin-right: 175px;
}

.contactDiv > h1 {
  color: var(--fourth-color);
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
}

.contactDiv > p {
  text-align: center;
  margin-top: 20px;
}

.contactContainer {
  margin-top: 30px;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconContact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.iconContact > i {
  font-size: 14px;
}

.iconContact span {
  color: var(--fourth-color);
}

.footerIcons {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.footerIcons a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fourth-color);
  background-color: var(--sixth-color);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.footerIcons i {
  font-size: 25px;
}

.footerIcons a:hover {
  background-color: var(--second-color);
}

.footerIcons a:hover i {
  color: var(--sixth-color);
}

@media (max-width: 1500px) {
  .about-content {
    grid-template-columns: 1fr;
  }
  .about-content-right {
    margin: auto;
    gap: 40px;
  }
}

@media (max-width: 1250px) {
  .portfolioContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-content-left {
    overflow-y: hidden;
  }

  .about-content-left > p {
    line-height: 20px;
    overflow-y: hidden;
    margin: 0 auto;
  }
}

@media (max-width: 1100px) {
  .experienceContainer {
    grid-template-columns: 1fr;
  }

  .about-content {
    padding-top: 0px;
  }
}

@media (max-width: 1001px) {
  .portfolioContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 951px) {
  .introDiv {
    max-width: 700px;
  }
  .introDiv > h1 {
    font-size: 40px;
  }
  .about-content {
    padding-bottom: 10px;
  }

  .infoBox {
    width: 210px;
    height: 150px;
  }

  .infoBox > h2 {
    font-size: 40px;
  }

  .infoBox > h4 {
    font-size: 25px;
  }

  .skills-graph {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 926px) {
  .aboutDiv {
    margin-left: 100px;
  }

  .about-content-left > p {
    margin-top: 10px;
  }
}

@media (max-width: 860px) {
  .aboutDiv {
    margin-left: 50px;
    margin-right: 100px;
  }
  .introDiv {
    max-width: 500px;
  }
}

@media (max-width: 710px) {
  .portfolioDiv,
  .contactDiv {
    margin-left: 100px;
    margin-right: 110px;
  }

  .contactDiv > h1 {
    font-size: 50px;
  }

  .theme-btn,
  .controls {
    display: none;
  }

  .closeOpenBtnDiv {
    display: flex;
  }

  .about-content-left > p {
    padding: 0;
  }
}

@media (max-width: 630px) {
  .introDiv h1,
  p {
    max-width: 350px;
  }

  .aboutDiv {
    margin-left: 70px;
    margin-right: 70px;
  }
  .about-content {
    gap: 20px;
  }

  .about-content-left > h1 {
    font-size: 24px;
  }

  .about-content-left > p {
    font-size: 14px;
  }

  .infoBox {
    width: 140px;
  }

  .infoBox h2 {
    font-size: 30px;
  }

  .infoBox h4 {
    font-size: 20px;
  }

  .portfolioDiv {
    margin-left: 50px;
    margin-right: 50px;
  }

  .contactDiv {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 475px) {
  .introDiv {
    max-width: 400px;
  }

  .aboutDiv > h1 {
    font-size: 40px;
  }

  .aboutDiv {
    margin-left: 10px;
    margin-right: 10px;
  }

  .about-content {
    gap: 15px;
  }

  .infoBox {
    width: 100px;
    height: 130px;
  }

  .infoBox h4 {
    font-size: 14px;
  }

  .timelineItem {
    padding-left: 0;
  }

  .iconDiv {
    display: none;
  }

  .portfolioDiv {
    margin-left: 50px;
    margin-right: 50px;
  }

  .contactDiv {
    margin-left: 50px;
    margin-right: 50px;
  }

  .contactDiv > h1 {
    font-size: 32px;
  }
}

@media (max-width: 440px) {
  .introDiv {
    max-width: 312px;
  }

  .about-content-left > p {
    font-size: 12px;
  }

  .contactItem {
    flex-direction: column;
  }

  .iconContact span {
    font-size: 18px;
  }
}
